body {
    background-color: #000000;
}
header {
    position: fixed;
    display: flex;
    justify-content: space-between;
}
.maybelogo {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
    top: 0;
    left: 0;
    padding: 35px 12%;
    z-index: 100;
    align-items: center;
    justify-content: space-between;
}
.threehead {
    display: flex;
    list-style: none;
}

.threehead a {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}