body {
    background-color: #000000;
}
header {
    position: fixed;
    padding: 15px 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.maybelogo {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
}
.threehead {
    display: flex;
    margin-right: 20px;
}

.threehead li{
    margin-right: 15px;
}

.threehead a{
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: all .20s ease;
}
.threehead a:hover {
  text-decoration: underline;
}